{% extends "todo/base.html" %}

{% block content %}

        <div class="row justify-content-center mt-2">
        <div class="col-md-10">
        {% if notes %}
                  <div class="row row-cols-auto gx-3">
                <div class="col offset-1">
         <div class="p-4"><h1>Заметки</h1></div>
        </div>
        <div class="col">
          <div class="p-4"><a role="button" class="btn btn-info btn-lg" href="{% url 'create_note' %}">Добавить</a></div>
        </div>
      </div>
            <div class="list-group">
                {% for note in notes %}
                    <a href="{% url 'note_detail' note.id %}" class="list-group-item list-group-item-action mb-2"><b>{{ note.title }}</b></a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <br>
                <h2>У вас нет заметок!</h2>
            <br>
            <a role="button" class="btn btn-info" href="{% url 'create_note' %}">Новая заметка</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
